

#menu{
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 0 0 0;
    font-size: 20px;
    flex-shrink: 0;
    background-color: #000040;
    color:#FFF;
    margin-right: 10px;
    // font-family: "Fjalla One-Regular", Helvetica;
   
    
  }
#bg{
    display:flex;
    align-items: center;
}
.componente{
    
    // font-family: "Fjalla One-Regular", Helvetica;
    padding: 15px;
    font-size: 35px;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
    
}

